.navbar {
      min-height: 90px;
    background-color:black;
}
.mynav{margin-top: 14px;}

.navbar-brand{
   
    padding-top: 1px;
}
.navbar-default .navbar-nav > li > a:hover{ color:aqua; border-bottom: 2px solid aqua}
.navbar-default .navbar-nav > li > a{color: white;}

.footer{background-color: black;
    color: white;
    padding: 10px;
}
.gallery{display:inline-block}

.gallery >img
{
    float: left;
    margin: 10px;
    border: 7px solid #eee;
    border-radius: 50px;
    width: 400px;
     transition: all 2s ;
    
}

.gallery > img:hover
{
    transform: scale(1.7);    
}